// coloors
$yellow: rgba(252, 183, 43, 1);
$dark-navy: rgba(73, 85, 103, 1);
$dimGrey: rgba(147, 156, 170, 1);
$liteGrey: rgba(229, 236, 244, 1);
$snow: rgba(242, 245, 249, 1);
$lightYellow: rgba(255, 244, 223, 1);
$t-color1: #939CAA;
$footer_bg: #333A44;
$oldfooter: #495567;
$white-color: #FFF;
$pushti: #FFF4DF;

// Fonts
$font-famly1: 'Space Mono';
$font-famly2: 'Lexend Deca';
$f-weight-b: 700;
$f-weight-r: 400;
$h1_size: 5.4rem;
$h2_size: 4.8rem;
$h3_size: 4rem;
$h4_size: 2.4rem;
$t-size: 1.5rem;
$h1_hight: 56px